.hotelLink {
    padding: 1%;
    border: 1px solid #e8e5e5;
    text-decoration: none;
    background-color: white;
}

.hotelLink:hover .hotelHeading {
    color: #007bff;
}

.hotelLink:hover {
    color: black;
    background-color: rgb(238, 241, 220);
}


/* .collapse-button {
    display: none;
}

.collapse-filter-form {
    display: block;
}

for small screens 
@media (max-width: 920px) {
    .collapse-button {
        display: block;
    }
    .collapse-filter-form {
        display: none;
    }
}

*/